<ul class="list-group">
	<li class="list-group-item <% if (typeof profile != 'undefined') { %> list-group-item-success <% } %>">
		<a href="/dashboard/profile">
			Profile
		</a>
	</li>
	<li class="list-group-item <% if (typeof post != 'undefined') { %> list-group-item-success <% } %>">
		<a href="/dashboard/posts">
			My Posts
		</a>
	</li>
</ul>