<% include layouts/header.ejs %>
<body>
<% include layouts/menu.ejs %>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>DISPLAY</h3>
    </div><!-- /row -->
    </div> <!-- /conta -->
</div>

<%= info %>

<img src=" <%= info.pictures[0] %> ">

<% include layouts/footer.ejs %>