<html>
	<head>
		<title>Resize Image</title>
	</head>
	<body>
		<form action="" method="post" enctype="multipart/form-data">
			<input type="hidden" value="<%= csrfToken %>" name="_csrf">
			<input type="file" name="file" />
			<input type="submit" value="Submit" >
		</form>
	</body>
</html>