<% include layouts/header.ejs %>

<body>

<% include layouts/menu.ejs %>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
		<div class="row">
			<h3>Login</h3>
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
	
<div class="container mtb">
	<div class="row col-md-8 col-md-offset-2">
		<form method="post" action="">
		  <% if (message != '') { %>
			<div class="alert alert-danger" role="alert">
				<%= message %>
			</div>
		  <% } %>
		  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
		  <div class="form-group">
		    <input name="email" type="email" class="form-control" id="email" placeholder="Email">
		  </div>

		  <div class="form-group">
		    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
		  </div>
		  
		  <div class="form-group">
		    <button type="submit" class="btn btn-default">Log in</button>
		  </div>

		  <div class="form-group">
		  	No account yet! <a href="/signup">sign up</a> here
		  </div>
		</form>
	</div>
</div> <!--/ .container -->
	

<% include layouts/footer.ejs %>