<% include layouts/header.ejs %>
<body>
<% include layouts/menu.ejs %>

<div id="blue">
    <div class="container">
    <div class="row">
      <h3>SEARCH</h3>
    </div><!-- /row -->
    </div> <!-- /conta -->
</div>

<div class="container">
  <div class="filters">

  </div>
</div>

<% include layouts/footer.ejs %>